BeautifulSoup==3.2.1
Flask==0.10.1
Flask-SQLAlchemy==2.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
nltk==3.2.1
numpy==1.9.2
pep8==1.7.0
pkg-resources==0.0.0
requests==2.9.0
SQLAlchemy==1.0.5
textblob==0.11.1
textblob-aptagger==0.2.0
web.py==0.37
Werkzeug==0.10.4
